.layout {
	display: flex;
	min-height: 100vh;
}

.hiddenSidebar {
	> aside {
		width: 3.8rem;
		flex-grow: 0;
		> nav > div:first-child {
			transition: opacity 0.35s;
			opacity: 0;
		}
	}

	> div {
		width: 100%;
	}
}

.showedSidebar > aside {
	width: var(--sidebar-width);
}

.initialSidebar > aside {
	transition: width 0.35s;
}
