.container {
	margin-bottom: 1rem;

	span {
		display: block;
		color: rgb(152, 160, 177);
		font-weight: 500;
		margin-bottom: 0.5rem;
	}
}

.input {
	width: 100%;
	padding-inline: 0.75rem;
	padding-block: 0.5rem;
	border: 1px solid var(--border-color);
	border-radius: 0.25rem;
	transition-property: color;
	transition-timing-function: ease-in-out;
	transition-duration: 333ms;
	background-color: transparent;
	color: var(--white);

	&:focus {
		box-shadow: none;
		border: 1px solid var(--border-color);
		outline: none;
	}
	&.error {
		border-color: var(--red);
	}
}

.errorMessage {
	color: var(--red) !important;
	font-size: 0.775rem;
	margin-top: 0.25rem;
}
